main {
	@media screen and (1024px <=width) {
		>img {
			anchor-name: --img;
		}

		div h2 {
			color: white;
		}

		div {
			max-width: 50%;
			font-size: 2em;
			color: white;
			position: absolute;
			position-anchor: --img;
			top: anchor(top);
			left: anchor(left);
			margin-left: 7.5vw;
			margin-top: 3em;
		}

		p {
			font-size: 1rem;
			/* text-wrap: balance; */
			hyphens: none;
		}
	}

	@media screen and (1024px <=width) {
		section {
			&:nth-of-type(1) {
				grid-template-columns: repeat(12, 1fr);
				gap: 0.25rem;

				grid-template-areas:
					"img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2"
					"img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2"
					"img1 img1 img1 img1 img1 img1 img3 img3 img3 img4 img4 img4"
					"img1 img1 img1 img1 img1 img1 img3 img3 img3 img4 img4 img4"
					"img5 img5 img5 img5 img6 img6 img6 img6 img7 img7 img7 img7";

				img {
					height: 100%;
				}

				picture {
					&:nth-of-type(1) {
						grid-area: img1;
					}

					&:nth-of-type(2) {
						grid-area: img2;
					}

					&:nth-of-type(3) {
						grid-area: img3;
					}

					&:nth-of-type(4) {
						grid-area: img4;
					}

					&:nth-of-type(5) {
						grid-area: img5;
					}

					&:nth-of-type(6) {
						grid-area: img6;
					}

					&:nth-of-type(7) {
						grid-area: img7;
					}
				}
			}
		}
	}
}
}