main {
	section {
		&:nth-of-type(1) {
			ul{
				align-items:start;
			}
			li {
				display: grid;
				gap: inherit;
			}
		}

		&:nth-of-type(2) {

			span {
				color: blue;
				font-size: 2em;
				/* font-weight: bold; */
				display: block;
				text-align: center;
			}

			li {
				font-weight: bold;
				padding: 1em;
				/* background-color: white; */
				box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
				/* width: fit-content; */
				text-align: center;
				/* justify-self: center; */
			}
		}
	}

	@media screen and (1024px <=width) {
		section {
			&:nth-of-type(1) {
				grid-template-columns: 1fr;
			}

			&:nth-of-type(2) {
				grid-template-columns: 1fr;
			}
		}

		ul {
			list-style: none;
			grid-template-columns: repeat(3, 1fr);
			gap: inherit;
		}
	}
}