html {
	--primary-bg: hsl(0, 0%, 95%);
	--secondary-bg: hsl(54, 86%, 66%);
	--background-text: hsl(from var(--secondary-bg) h calc(s) calc(l/1.25) / 1);
	--logo-color: #d6c278;
	--text: hsl(0, 0%, 20%);
	--text-light: hsl(0, 0%, 0%);

	font: 1.1rem "Inter", sans-serif;
	color: var(--text);
	background-color: var(--primary-bg);
	scrollbar-color: var(--secondary-bg) var(--primary-bg);

	&:focus-visible {
		outline: var(--text) solid 4px;
	}

	:is(h1, h2, h3) {
		font-weight: bold;
		text-align: center;
		text-wrap: balance;
		hyphens: none;
		flex-basis: 100%;
		grid-column: 1/-1;
		column-span: all;
		color: var(--text-light);
		/* line-height: initial; */
	}

	h2 {
		font-size: 1.5rem;
	}

	li::marker {
		font-weight: bold;
	}

	strong {
		font-weight: bold;
	}

	@media screen and (541px <=width) {
		font-size: 1.25rem;

		h2 {
			font-size: 1.75em;
		}
	}

	@media screen and (925px <=width) {
		font-size: 1.1rem;

		h2 {
			font-size: 2em;
		}
	}

	@media screen and (1400px <=width) {
		font-size: 1.25rem;
	}

	@media screen and (1921px <=width) {
		font-size: 1vw;
	}
}