header {
    padding: 0.75rem 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: var(--secondary-bg);
    /* box-shadow: 2px 2px 2px 2px rgb(226, 230, 173); */

    [href="#main"] {
        display: none;
    }

    >[href="./"] {
        width: 2rem;
    }

    nav {
        menu {
            display: flex;
        }

        a {
            padding: 0.35em 0.75em;
        }
    }

    /* @media screen and (700px <=width) {
        padding: 1.35rem 10vw;
    } */

    @media screen and (1024px <=width) {
        padding: 0.5rem 7.5vw;

        [href="#main"] {
            display: initial;
            position: absolute;
            top: -100%;

            &:focus {
                font-size: 1.5em;
                padding: 1em;
                top: 50vh;
                left: 50vw;
                transform: translate(-50%, -50%);
                background-color: inherit;
            }
        }

        >[href="./"] {
            width: 3rem;
        }

        nav {
            a {
                padding: 0.5em 0.75em;
                transition: background-color 0.35s;
                border-radius: 0.2em;

                &:hover {
                    background-color: var(--background-text);
                }
            }
        }
    }
}