main {
	display: grid;
	/* gap: 4em 0; */
	/* padding: 4em 0; */

	section {
		display: grid;
		gap: 2.5em 3em;
		padding: 2em 10vw;

		&:nth-of-type(odd) {
			background-color: hsl(43, 50%, 95%);
		}

		&:nth-of-type(even) {
			background-color: hsl(197, 50%, 93%);
		}
	}

	ul {
		display: grid;
		list-style: decimal inside;
		row-gap: 1em;
	}

	@media screen and (541px <=width) {
		/* padding: 6em 0; */
		/* gap: 6em 0; */

		ul {
			row-gap: 1.25em;
		}
	}

	@media screen and (925px <=width) {
		section {
			padding: 3em 7.5vw;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}