:is(*, *::before, *::after) {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font: inherit;
	line-height: 1.5;
	text-box-trim: both;
	text-box-edge: cap alphabetic;
	text-wrap: pretty;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
	break-inside: avoid;
	flex-wrap: wrap;
	text-align: justify;
	hyphens: auto;
	transition-behavior: allow-discrete;
}

:is(ol, ul, menu) {
	list-style: none;
}

:is(img, svg, video) {
	display: block;
	width: 100%;
	height: auto;
}

img {
	object-fit: cover;
}

:is(button, summary) {
	cursor: pointer;
}